{#

 This file is part of the RJMCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% set can_vote = can_vote|default(false) %}

<button data-url="{{ url("rjm_comment_new_thread_comment_votes", {"id": comment.thread.id, "commentId": comment.id, "value": 1}) }}" class="rjm_comment_comment_vote btn btn-mini {{ can_vote ? '' : 'disabled' }}"><img src="{{ asset('bundles/rjmcomment/images/thumb_up.png') }}" title="{% trans from 'RJMCommentBundle' %}rjm_comment_comment_show_voteup{% endtrans %}"/>&nbsp;{{ comment.likes }}</button>
<button data-url="{{ url("rjm_comment_new_thread_comment_votes", {"id": comment.thread.id, "commentId": comment.id, "value": -1}) }}" class="rjm_comment_comment_vote btn btn-mini {{ can_vote ? '' : 'disabled' }}"><img src="{{ asset('bundles/rjmcomment/images/thumb_down.png') }}" title="{% trans from 'RJMCommentBundle' %}rjm_comment_comment_show_voteup{% endtrans %}"/> {{ comment.dislikes }}</button>