{#

 This file is part of the RJMCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div class="rjm_comment_commentable_form_holder">
    <form class="rjm_comment_commentable_form" action="{{ url('rjm_comment_patch_thread_commentable', {'id': id}) }}" data-rjm-comment-thread-id="{{ id }}" method="POST">

        {% block rjm_comment_form_fields %}
            {{ form_errors(form) }}

            {{ form_errors(form.isCommentable) }}
            {{ form_widget(form.isCommentable) }}

            {{ form_rest(form) }}
        {% endblock %}

        <input type="hidden" name="_method" value="patch" />

        <div class="rjm_comment_submit">
            {% block rjm_comment_form_submit %}
                <input type="submit" value="{{ (isCommentable ? 'rjm_comment_thread_open' : 'rjm_comment_thread_close') | trans({}, 'RJMCommentBundle') }}" />
            {% endblock %}
        </div>

    </form>
</div>
