{#

 This file is part of the RJMCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div class="rjm_comment_comment_form_holder">
    <form class="rjm_comment_comment_edit_form" action="{{ url('rjm_comment_put_thread_comments', {'id': comment.thread.id, 'commentId': comment.id}) }}" method="POST">

        {% block rjm_comment_form_fields %}
            {{ form_errors(form) }}
            {{ form_errors(form.body) }}
            {{ form_widget(form.body) }}
            {{ form_widget(form._token) }}
        {% endblock %}

        <div class="rjm_comment_submit">
            <button type="button" class="rjm_comment_comment_edit_cancel">{% trans from 'RJMCommentBundle' %}rjm_comment_comment_new_cancel{% endtrans %}</button>
            {% block rjm_comment_form_submit %}
                <input type="submit" value="{% trans from 'RJMCommentBundle' %}rjm_comment_comment_new_submit{% endtrans %}" />
            {% endblock %}
        </div>

        <input type="hidden" name="_method" value="PUT">

    </form>
</div>
