{#

 This file is part of the RJMCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div class="rjm_comment_vote_form_holder">
    <form class="rjm_comment_vote_form" action="{{ url('rjm_comment_post_thread_comment_votes', {'id': id, 'commentId': commentId}) }}" data-score-holder="rjm_comment_score_{{ commentId }}" method="POST">

        {% block rjm_comment_form_fields %}
            {{ form_errors(form) }}
            {{ form_errors(form.value) }}
            {{ form_widget(form.value) }}

            {{ form_rest(form) }}
        {% endblock %}

        <div class="rjm_comment_submit">
            {% block rjm_comment_form_submit %}
                <input type="submit" />
            {% endblock %}
        </div>

    </form>
</div>
